//the background color
$p_color_background:  #FFFFFF;




/*
* checkout.css" is a special file that will automatically be loaded in your checkout process pages
*/


body
{
    background-color: $p_color_background;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}


/* overwrite hyperlink colors */
a,ul#list_buying li a:link, ul#list_buying li a:visited, ul#list_buying li a:hover, ul#list_buying li a:active {
  color:#27579F;
}
a.change_shipping:link, a.change_shipping:visited, a.change_shipping:hover, a.change_shipping:active, a.backtocart:link, a.backtocart:visited, a.backtocart:hover, a.backtocart:active {
    color: #27579F;
}


 
/*h1#shop_name
{
    font-size: 50px;
    padding-bottom: 20px;
}*/
h1#shop_name
{
    background-image: url({{solid.files_url}}/img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    text-indent: -9999px;
}


/* hide mailinglist fields */
#cust_mailinglist{
  display: none;
}

label.mailinglist{
  display: none;
}