//the color for all hyperlinks
$p_color_a:  #27579F;
//the color for each horizontal wide div
$p_color_header_top_wide_background: #27579F;
$p_color_header_main_wide_background: #2B78B6;
$p_color_header_breadcrumbs_wide_background: #F5F5F5;
//the color for the links on top of the page
$p_color_header_top_wide_a: #FFFFFF;
//the color of the pagination(previous 2 3 4 next) when there are multiple pages
$p_color_pagination: #27579F;
//used in the Algemene voorwaarden & Veelgestelde vragen
$p_color_templatecontent_menu_heading: #27579F;
$p_color_templatecontent_menu_item: #27579F;
$p_color_templatecontent_body_heading: #27579F;
$p_color_templatecontent_body_subheading: #27579F;
$p_color_templatecontent_body_text: #595959;
//change the default button and effect
$p_color_btn_primary_text:white;
$p_color_btn_primary_background:#357EBD;
$p_color_btn_primary_border:#428BCA;
$p_color_btn_primary_effect_text: white;
$p_color_btn_primary_effect_background: #285E8E;
$p_color_btn_primary_effect_border: #3276B1;
//social icons
$p_color_socialicon_text:#27579F;
$p_color_socialicon_background: #FFFFFF;
$p_color_socialicon_border: #27579F;
$p_color_socialicon_effect_text: #FFFFFF;
$p_color_socialicon_effect_background: #2B78B6;



/*
$p_color_a:  green;
$p_color_header_top_wide_background:black;
$p_color_header_top_wide_a: orange;
$p_color_header_main_wide_background: green;
$p_color_header_breadcrumbs_wide_background: yellow;
$p_color_pagination: red;

$p_color_templatecontent_menu_heading: pink;
$p_color_templatecontent_menu_item: orange;
$p_color_templatecontent_body_heading: blue;
$p_color_templatecontent_body_subheading: yellow;
$p_color_templatecontent_body_text: green;

$p_color_btn_primary_text: red;
$p_color_btn_primary_background: green;
$p_color_btn_primary_border: blue;
$p_color_btn_primary_effect_text: yellow;
$p_color_btn_primary_effect_background: purple;
$p_color_btn_primary_effect_border: black;

$p_color_socialicon_text:black;
$p_color_socialicon_background: white;
$p_color_socialicon_border: red;
$p_color_socialicon_effect_text: white;
$p_color_socialicon_effect_background: black;
*/

body {
     background: #FFFFFF;
     color: #595959;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     font-size: 14px;
     line-height: 180%;
}


a, a:hover, a:focus{
  color: $p_color_a; 
}

h1, h2, h3 {
    font-weight: bold;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; /* or 950px */
}

/* Header 
***********************************************
***********************************************
*/
header {
  margin-bottom: 10px;
}

/* Header Top */
.layout_header_top_wide{
  background: $p_color_header_top_wide_background;
  color:white;
}
.layout_header_top_center{}
.header_top_links{
  margin-bottom:0px;
}
.layout_header_top_wide li a {
    color: $p_color_header_top_wide_a;
    font-size: 13px;
}

/* Header Main */
.layout_header_main_wide{
  background: $p_color_header_main_wide_background;
}
.layout_header_main_wide{}
.header_main_vcenter{
  padding-top: 25px;
}

.header_main_logo{
  max-width: 180px;
  max-height: 90px;
  padding-top:10px;
  padding-bottom:10px;
}
a.brand , a.brand:hover {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
}

.header_main_cart{
  text-align:right;
  padding-bottom:10px;
}
@media (max-width: 768px) {
    .header_main_cart {
          text-align:center;
     }
}

/* Header Breadcrumbs */
.layout_header_breadcrumbs_wide{
  background: $p_color_header_breadcrumbs_wide_background;
}
.layout_header_breadcrumbs_center{}

.breadcrumb{
  padding: 0px 15px;
  margin-bottom: 0px;
  background: $p_color_header_breadcrumbs_wide_background;
}






/* Content
***********************************************
***********************************************
*/
.layout_content_main_wide{}
.layout_content_main_center{}

/* Content general*/
.heading_content{
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: normal;
}

/* Content Sidebar*/
.heading_sidebar{
     border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}
.block_sidebar{
     border-right: 1px solid #EAEAEA;
       padding-right: 15px;
}
.block_sidebar_category{
}
.block_sidebar_category >ul >  li.active > a {
font-weight:bold;
}
.sidebar_li_level1 > a{
   margin-left: 0px;
}
.sidebar_li_level2{
   margin-left: 10px;
  font-size: 13px
}
.sidebar_li_level3{
   margin-left: 20px;
  font-size: 12px
}

@media (max-width: 825px) {
     .block_sidebar_about > ul.socialIcons {
          display: none;
     }
}


/* Content Products*/
/*#placeholder_price{
  font-size: 20px;
  color: red;
}*/
.thumbnail a > img.img_prod_grid{
  height: 150px
}
.thumbnail a {
  font-size: 12px
}
.caption {
     height: 100px;
     overflow: hidden;
}
@media (max-width: 768px) {
  .caption {
      height: 100px;
  }
}
.trhidden{
  display: none;
}
#placeholder_variants>select {
     display: block;
     margin-bottom: 20px;
}
.table_add_to_cart{
  background-color: #F9F9F9;
}

.pagination > li > a, .pagination > li > span {
    color: $p_color_pagination;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $p_color_pagination;
     border-color: $p_color_pagination;
    color: #FFFFFF;
}


/* Content Cart*/
.content_cart{
  padding-bottom : 20px;
}
.countryrequired {
    border-style:solid;
    border-color: #b94a48;
}



/* Footer 
***********************************************
***********************************************
*/
footer {
  margin-top: 30px;
}
.layout_footer_listing_wide{
  background: none repeat scroll 0 0 #EEEEEE;  
}
.layout_footer_listing_center{}

.layout_footer_copy_wide{
background: none repeat scroll 0 0 #FFFFFF;
}
.layout_footer_copy_center{}

.paymentIcons > li > img{
  width:32px;
}

.heading_footer_listing{
     border-bottom: 1px solid #EAEAEA;
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-weight: normal;
}












/* General 
***********************************************
*/
.fa-chevron-right{
  padding-right: 10px;
  color: #595959;
}


.socialIcons > li > a {
   text-decoration: none;
}
.socialIcon {
  background-color: $p_color_socialicon_background;
  border: 2px solid $p_color_socialicon_border;
  color: $p_color_socialicon_text;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 11px;
  text-align: center; 
}

.socialIcon:hover {
  background-color: $p_color_socialicon_effect_background;
  color: $p_color_socialicon_effect_text; 
}



/*
  shopping cart
*/
.btn-primary { 
     border-color: $p_color_btn_primary_border; 
     background-color: $p_color_btn_primary_background;
     color: $p_color_btn_primary_text;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  border-color: $p_color_btn_primary_effect_border; 
  background-color: $p_color_btn_primary_effect_background;
  color: $p_color_btn_primary_effect_text;
}


