{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

<head>
	{{ solid.embed("head_pre") }}
</head>

<body>
		<!-- header -->
		{{ solid.embed("body_header") }}
	
  		<div class="layout_content_main_wide">
             <div class="layout_content_main_center container-fluid row">

               <div class="col-sm-9 col-sm-push-3">
               		<section>
                        <article>
                            <!-- page content -->
                            <div class="row-fluid">
                                <h2 class="heading_content">{{ solid.lang("404.page_not_found")}}</h2>
                                <p>{{ solid.lang("404.page_not_found")}}</p>
                            </div>
                        </article>
                	</section>
               </div>
                
               <div class="col-sm-3 col-sm-pull-9">
               		{{ solid.embed("block_sidebar")}}

               </div>

               
			 </div>

        </div>
		
		<!-- footer -->
		{{ solid.embed("body_footer") }}

</body>
</html>