{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

<head>
	{{ solid.embed("head_pre") }}
</head>


<body>

	
		<!-- header -->
		{{ solid.embed("body_header") }}

		<!-- view -->
		<div class="layout_content_main_wide">

            <div class="layout_content_main_center container-fluid row">
					
				<div class="col-sm-9 col-sm-push-3">
                    {% set cat = category.get() %} 
					{% set arr_products = product.getList({"count": 12, "pagination":"true", "order": "id:desc","cat": cat.nicename}) %}
					{{ solid.embed("block_products_grid",{"arr_products" : arr_products,"title" : solid.lang("product.products_in_category")~": "~ cat.name})}}
			   	 	<div>
                		{{ solid.embed("block_pagination") }}
              		</div>
                </div>
              
                <div class="col-sm-3 col-sm-pull-9">
                    {{ solid.embed("block_sidebar")}}
                </div>
				

			
          </div>
        </div>

	
		<!-- footer -->
		{{ solid.embed("body_footer") }}

</body>
</html>