{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

<head>
	{{ solid.embed("head_pre") }}
</head>


<body>
	
		<!-- header -->
		{{ solid.embed("body_header") }}
	
		<div class="layout_content_main_wide">
             <div class="layout_content_main_center container-fluid row">
             
                <div class="col-sm-9 col-sm-push-3">
                	{{ solid.embed("body_content_contact") }}
                </div>
                
                <div class="col-sm-3 col-sm-pull-9">
                    {{ solid.embed("block_sidebar")}}
                </div>

               
               
		     </div>

        </div>
		
	
		<!-- footer -->
		{{ solid.embed("body_footer") }}

</body>
</html>