{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

<head>
	{{ solid.embed("head_pre") }}
</head>

<body>
	
	
		<!-- header -->
		{{ solid.embed("body_header") }}
	
	

	
		<!-- view -->
		<div class="layout_content_main_wide">
            <div class="layout_content_main_center container-fluid row">
              <div class="row-fluid">
                  <div class="col-sm-9 col-sm-push-3">
                      {% set arr_product = product.get() %}
                      {{ solid.embed("body_content_product",{"arr_product" : arr_product})}}                     
                  </div>
                  <div class="col-sm-3 col-sm-pull-9">
                      {{ solid.embed("block_sidebar")}}
                  </div>
              </div>
	       </div>
		</div>
        
        
        
		<!-- footer -->
		{{ solid.embed("body_footer") }}
	


</body>
</html>