{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

<head>
	{{ solid.embed("head_pre") }}
</head>


<body>

		<!-- header -->
		{{ solid.embed("body_header") }}
	
		<div class="layout_content_main_wide">
             <div class="layout_content_main_center container-fluid row">
             
                <div class="col-sm-9 col-sm-push-3">
                    {% set arr_products = product.getList({"pagination":"true", "count":12, "order": "id:desc","search": solid.getUrlsegment(3)}) %} 
                    {{ solid.embed("block_products_grid",{"arr_products" : arr_products,"title" : solid.lang("search.results_for") ~ " " ~ solid.getUrlsegment(3)})}}
               		<div >
                		{{ solid.embed("block_pagination") }}
              		</div>
                </div>
                <div class="col-sm-3 col-sm-pull-9">
                      {{ solid.embed("block_sidebar")}}
                </div>
		     </div>

        </div>
		

	
		<!-- footer -->
		{{ solid.embed("body_footer") }}

</body>
</html>