{% set pagination = solid.getPagination() %}
<div>
  <ul class="pagination">
    {% if pagination.pages|length > 1 %}
    	{% if pagination.previous %}
    		<li><a href="{{ pagination.previous_url }}{{solid.getGlobal("lang_urlsuffix")}}">{{ solid.lang("pagination.previous")}}</a></li>
        {% endif %}
    
    	{% for arr_page in pagination.pages %}
          {% if arr_page.number == pagination.current %}
              <li class="active"><a href="{{ arr_page.url }}{{solid.getGlobal("lang_urlsuffix")}}">{{ arr_page.number }}</a></li>
          {% else %}
             <li ><a href="{{ arr_page.url }}{{solid.getGlobal("lang_urlsuffix")}}">{{ arr_page.number }}</a></li>
          {% endif %}
        {% endfor %}
    
    	{% if pagination.next %}
        	<li><a href="{{ pagination.next_url }}{{solid.getGlobal("lang_urlsuffix")}}">{{ solid.lang("pagination.next")}}</a></li>
        {% endif %}
    {% endif %}
  </ul>
</div>