<!-- products -->

{% set row_productcount = 4 %}

<h2  class="heading_content">{{embed.title}}</h2>



    
    <div class="row-fluid">
	{% for arr_product in embed.arr_products %}

      {% set p_name = "" %}
      {% if solid.getGlobal("lang_isdefault") %}
          {% set p_name = arr_product.name %}
      {% else %}
          {% set str_customfield_name = solid.getLang("short") ~ "_name" %}
          {% set obj_customfieldgroup = attribute(arr_product.custom_fields,solid.getGlobal("lang_customfieldgroup"))%}
          {% set p_name = attribute(obj_customfieldgroup,str_customfield_name).value %}
      {% endif %}

  
      <div class="col-xs-6 col-md-3 col-sm-4">
          <div class="thumbnail">
              <a href="{{ arr_product.url }}{{solid.getGlobal("lang_urlsuffix")}}"> 
                  {% if arr_product.thumbnail %} 
                      <img src="{{ arr_product.images[0].full }}" alt="{{ arr_product.name }}" class="img-responsive img_prod_grid" /> 
                  {% else %} 
                      <img src="http://dummyimage.com/330x330/656968/fff" alt="{{ arr_product.name }}" class="img-responsive img_prod_grid" /> 
                  {% endif %}
              </a>
              <div class="caption">
                  <h5>
                      <a href="{{ arr_product.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ p_name }}">{{p_name|char_limit(50)}}</a>
                  </h5>
                  <p>{{arr_product.price|currency("symbol")}}</p>
                  
              </div>
          </div>
      </div>
          

      {% if loop.index != loop.last and (loop.index is divisibleby(row_productcount)) %}
       
      {% endif %}

          
	{% endfor %}
 </div>
 <!-- navigation on new line-->
 <div class="row"></div>



<!-- end products -->