<!-- footer -->	
<footer>
  
<div class = "layout_footer_listing_wide">
  <div class="container-fluid layout_footer_listing_center">

				<div class="row-fluid">

                   	<div class="col-sm-3 col-xs-12">
						<h3 class="heading_footer_listing">{{ solid.lang("footer.links")}}</h3>
						 <ul class="list-unstyled">
						 	{% for arr_page in page.getList() %}
								{#multilanguage: only show pages where the nicename start with the language key#}
								{% set bln_printpage = true %}
								{% if solid.getGlobal("lang_multilanguage")  %}
									{% set lang_page = arr_page.nicename[0:2] %}
									{% if lang_page != solid.getLang("short")  %}
										{% set bln_printpage = false %}
									{% endif %}
								{% endif %}
								{% if bln_printpage  %}
									<li>
										<a href="{{ arr_page.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_page.name }}"><i class="fa fa-chevron-right"></i>{{ arr_page.name }}</a>
                                    </li>
								{% endif %}
                            {% endfor %}
							
                                <li>
									<a href="/contact{{solid.getGlobal("lang_urlsuffix")}}" title="{{ solid.lang("footer.contact")}}"><i class="fa fa-chevron-right"></i>{{ solid.lang("footer.contact") }}</a>
                                <li>
                          </ul>

					</div> 
                  
                  	<div class="col-sm-3 footer_listing_latestupdatedproducts hidden-xs">
						<h3 class="heading_footer_listing">{{ solid.lang("footer.latest_updated_products")}}</h3>
						 <ul class="list-unstyled">
                                      {% for arr_product in product.getList({"count":4,"order": "date_modified:desc"}) %}
									      {% set p_name = "" %}
                                          {% if solid.getGlobal("lang_isdefault") %}
                                              {% set p_name = arr_product.name %}
                                          {% else %}
                                              {% set str_customfield_name = solid.getLang("short") ~ "_name" %}
									          {% set obj_customfieldgroup = attribute(arr_product.custom_fields,solid.getGlobal("lang_customfieldgroup"))%}
									          {% set p_name = attribute(obj_customfieldgroup,str_customfield_name).value %}     
                                          {% endif %}
                                          <li>
                                              <a href="{{ arr_product.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ p_name }}"><i class="fa fa-chevron-right"></i>{{ p_name }}</a>
                                          </li>
                                      {% endfor %}
                          </ul>
					</div>

                  	<div class="col-sm-3 footer_listing_popularproducts hidden-xs">
						<h3 class="heading_footer_listing">{{ solid.lang("footer.popular_products")}}</h3>
						 <ul class="list-unstyled">
                                      {% for arr_product in product.getList({"count":4,"order":"popularity:desc"}) %}
									      {% set p_name = "" %}
                                          {% if solid.getGlobal("lang_isdefault") %}
                                              {% set p_name = arr_product.name %}
                                          {% else %}
                                              {% set str_customfield_name = solid.getLang("short") ~ "_name" %}
									          {% set obj_customfieldgroup = attribute(arr_product.custom_fields,solid.getGlobal("lang_customfieldgroup"))%}
									          {% set p_name = attribute(obj_customfieldgroup,str_customfield_name).value %}       
                                          {% endif %}
                                          <li>
                                              <a href="{{ arr_product.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ p_name }}"><i class="fa fa-chevron-right"></i>{{ p_name }}</a>
                                          </li>
                                      {% endfor %}
                          </ul>
					</div>
					

                  
                  
                  
                  	<div class="col-sm-3 footer_listing_social hidden-xs">
						<h3 class="heading_footer_listing">{{ solid.lang("footer.social")}}</h3>
                        {{ solid.embed("block_social") }}    		
					</div>
 
			</div><!-- end row -->
		</div><!--end container-->
  
</div><!--end wide-->
  
<div class = "layout_footer_copy_wide">
  <div class="container-fluid layout_footer_copy_center row-fluid">
				<div class="col-sm-12">
                   <hr>
					<ul class="paymentIcons list-inline pull-right">
					
					{% for str_paymentoption in solid.getGlobal("payment_images") %}
						<li><img src="{{solid.files_url}}/img/cc/32/{{str_paymentoption}}.png" alt="{{str_paymentoption}}" /></li>
					{% endfor %}
					<!--
						<li><img src="{{solid.files_url}}/img/cc/32/paypal.png" alt="paypal" /></li>
						<li><img src="{{solid.files_url}}/img/cc/32/visa.png" alt="visa" /></li>
						<li><img src="{{solid.files_url}}/img/cc/32/mastercard.png" alt="mastercard" /></li>
						<li><img src="{{solid.files_url}}/img/cc/32/maestro.png" alt="maestro" /></li>
						<li><img src="{{solid.files_url}}/img/cc/32/ideal.png" alt="ideal" /></li>
						<li><img src="{{solid.files_url}}/img/cc/32/mister-cash.png" alt="mister-cash" /></li>
						<li><img src="{{solid.files_url}}/img/cc/32/money.png" alt="money" /></li>
                       -->
                       
					</ul>
					<p>&copy; 2014 - {{solid.shop_name}}</p>
				</div>
	</div>
</div>
    

  
 </footer>






