{% set url_home = "/" %}
{% if solid.getGlobal("lang_isdefault") == false %}
  {% set url_home = "/index/" ~ solid.getLang("short") %}
{% endif %}

<header>

  <div class = "layout_header_top_wide hidden-xs">
    <div class="container-fluid layout_header_top_center">
      <div class="row-fluid">

	    {##### show language icons ######}
		{% if solid.getGlobal("lang_multilanguage")%}
         <div class="{% if solid.getGlobal("lang_multilanguage")%}col-md-2{% endif %}">
           <ul class="header_top_links list-unstyled list-inline">
           {% for lang_key in solid.getGlobal("lang_multilanguage_list") %}
             
             {% set lang_key_img = lang_key %}

             
             
             
             {# removed because of bugs with contact and search
              {% set url_country =  solid.getGlobal("uripath_base") %}
             {{url_country}}
             {% if solid.getGlobal("lang_multilanguage") and solid.getGlobal("uripath_base") == "/" %}
               {% if lang_key != solid.getGlobal("lang_key_db") %}
                 {% set url_country = "/index" %}
               {% endif %}
             {% endif %}

             {% if lang_key != solid.getGlobal("lang_key_db") %}
               {% set url_country = url_country ~"/" ~ lang_key %}
             {% endif %}
             #}
             
             
             {% set url_country =  "" %}
             {% if lang_key != solid.getGlobal("lang_key_db") %}
               {% set url_country = "/index"  ~"/" ~ lang_key %}
             {% else %}
               {% set url_country = "/" %}
             {% endif %}
             
             
             <li>
               <a href="{{url_country}}" title="">
                 <img src="{{solid.files_url}}/img/country/{{lang_key_img|lower}}.gif" alt="{{lang_key_img|lower}}" />
               </a>
             </li>
           {% endfor %}
           </ul>
		  </div>
        {% endif %}

		{##### show pages and contact ######}
        <div class="{% if solid.getGlobal("lang_multilanguage")%}col-md-10{% else %}col-md-12{% endif %}">
           <ul class="header_top_links list-unstyled list-inline pull-right">
            {% for arr_page in page.getList() %}
				{#multilanguage: only show pages where the nicename start with the language key#}
				{% set bln_printpage = true %}
				{% if solid.getGlobal("lang_multilanguage")  %}
					{% set lang_page = arr_page.nicename[0:2] %}
					{% if lang_page != solid.getLang("short")  %}
						{% set bln_printpage = false %}
					{% endif %}
				{% endif %}
             
				{% if bln_printpage  %}
					<li>
						<a href="{{ arr_page.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_page.name }}">{{ arr_page.name }}</a>
					</li>
					<li>
					|
					</li> 
               {% endif %}
             {% endfor %}
             

             <li>
               <a href="/contact{{solid.getGlobal("lang_urlsuffix")}}" title="{{ solid.lang("header.contact")}}">{{ solid.lang("footer.contact") }}</a>
             <li>
           </ul>
         
        </div>
        
      </div>
    </div>
  </div>
  
  
  
  
  <div class = "layout_header_main_wide">
    <div class="container-fluid layout_header_main_center">
         {% set arr_cart = cart.get() %}
         <div class="row-fluid">
              <div class="col-md-4 logo ">
                 <a class="brand" href="{{url_home}}"> 
                      <img src="{{solid.files_url}}/img/logo.png" class="header_main_logo" alt="{{solid.shop_name}}"  />  
                 </a>
             </div>

           
              <div class="col-md-4 header_main_vcenter" >
			       <form  role="search" action="/search/{{solid.getLang("short")}}" method="POST">
                    <div class="form-group">
                                {% if solid.getUrlSegment(1) == "search" %}
                            <input  type="text" class="form-control" placeholder="{{ solid.lang("header.search")}}..." name ="query" value="{{solid.getUrlSegment(3)|url_decode}}">
                        {% else %}
                            <input  type="text" class="form-control header_searchbox" placeholder="{{ solid.lang("header.search")}}..." name ="query" value="">
                        {% endif %}
                    </div>
                  </form>
                 </div>
           
           {% set arr_cart = cart.get() %}
                <div class="col-md-4 header_main_vcenter header_main_cart" >
                     {% set cart_text = ""%}
                    {% if arr_cart.items_quantity == 0 %}
                         {% set cart_text = solid.lang("header.cart_emty")%}
                    {% else %}
                         {% set cart_text = arr_cart.items_quantity %}

                         {% if arr_cart.items_quantity == 1 %} 
                         	{% set cart_text = cart_text ~ " " ~ solid.lang("cart.item") %}
                         {% else %}  
                         	{% set cart_text = cart_text ~ " " ~ solid.lang("cart.items") %}
                         {% endif %}
                         {% set cart_text = cart_text ~ " - " ~ arr_cart.total|currency("symbol") %}
                    {% endif %}	
                                    <a class="btn btn-primary" href="/cart{{solid.getGlobal("lang_urlsuffix")}}"><span class="glyphicon glyphicon-shopping-cart"></span> {{cart_text}}</a>
                </div>

         </div> <!-- end heading -->
    </div>
  </div>
  
  
  
  
  
  
    <div class = "layout_header_breadcrumbs_wide hidden-xs">
    <div class="container-fluid layout_header_breadcrumbs_center">
      <div class="row-fluid">
        {% set firstsegment = solid.getUrlsegment(1) %}
        <!-- breadcrumb -->

        <ol class="breadcrumb  ">
          <li><a href="{{url_home}}">{{ solid.shop_name}}</a></li>
          {% if firstsegment == "" %}
          	<li class="active">{{ solid.lang("header.index")}}</li>
          {% elseif firstsegment == "page" %}
          	{% set pa = page.getList({"nicename":solid.getUrlsegment(2)})[0] %}
          	<li class="active">{{ pa.name }}</li>
          {% elseif firstsegment == "category" %}
          	{% set cat_current = category.getList({"nicename":solid.getUrlsegment(2)})[0] %}
          	{% set string_parentcats= "" %}
          	{% if cat_current.parent_id != 0 %}
          		{% set cat_parent = category.getList({"id":cat_current.parent_id})[0] %}
          		{% set string_parentcats = cat_parent.url ~',' ~ cat_parent.name %}
 				{% if cat_parent.parent_id != 0 %}
          			{% set cat_parent = category.getList({"id":cat_parent.parent_id})[0] %}
          			{% set string_parentcats = cat_parent.url ~',' ~ cat_parent.name~'|' ~ string_parentcats %}
          		{% endif %}
          	{% endif %}
          	{% if string_parentcats != "" %}
              {% set arr_parentcats = string_parentcats|explode("|") %}
              {% for string_parentcat in arr_parentcats %}
					{# Don't print the first level category when multilanguage is enabled #}
                    {% set bln_printbreadcrumb = true %}
                    {% if solid.getGlobal("lang_multilanguage") %}
                        {% if loop.index == 1 %}
                           {% set bln_printbreadcrumb = false %}
                        {% endif %}
                    {% endif %}
          
                    {% if bln_printbreadcrumb  %}
                        {% set arr_parentcat = string_parentcat|explode(",") %}
                        <li><a href="{{arr_parentcat[0]}}{{solid.getGlobal("lang_urlsuffix")}}">{{arr_parentcat[1]}}</a></li>
                    {% endif %}
              {% endfor %}  
			{% endif %}
          	<li class="active">{{ cat_current.name }}</li>
          {% elseif firstsegment == "cart" %}
          	<li class="active">Cart</li>
          {% elseif firstsegment == "product" %}
			{% set p = product.getList({"nicename":solid.getUrlsegment(2)})[0] %}
            {% set str_product_categories = ""%}
          	{% for prod_cat in p.categories %}
				{% set str_product_categories = str_product_categories ~ "|" ~ prod_cat.nicename %}
            {% endfor %}
            {% set arr_product_categories = str_product_categories|split("|") %}

			
			
			
			{# only print first level in non multilanguage, only print cats from current language when in multilanguage #}
			{% if solid.getGlobal("lang_multilanguage") == false  %}
				{% for arr_cat in category.getList() %}
					{% if arr_cat.nicename in arr_product_categories%}
						<li><a href="{{ arr_cat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_cat.name }}">{{ arr_cat.name }}</a></li> 
						{% for arr_subcat in arr_cat.subcategories %}
							{% if arr_subcat.nicename in arr_product_categories%}
								<li><a href="{{ arr_subcat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat.name }}">{{arr_subcat.name }}</a></li> 
								{% for arr_subcat2 in arr_subcat.subcategories %}
									{% if arr_subcat2.nicename in arr_product_categories%}
										<li><a href="{{ arr_subcat2.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat2.name }}">{{arr_subcat2.name }}</a></li>
									{% endif %}
								 {% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% for arr_cat in category.getList() if arr_cat.nicename == solid.getLang("short")%}
					{% if arr_cat.nicename in arr_product_categories%}
						{% for arr_subcat in arr_cat.subcategories %}
							{% if arr_subcat.nicename in arr_product_categories%}
								<li><a href="{{ arr_subcat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat.name }}">{{arr_subcat.name }}</a></li> 
								{% for arr_subcat2 in arr_subcat.subcategories %}
									{% if arr_subcat2.nicename in arr_product_categories%}
										<li><a href="{{ arr_subcat2.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat2.name }}">{{arr_subcat2.name }}</a></li>
									{% endif %}
								 {% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}			
			{% endif %}
			
			
          	<li class="active">{{ p.name }}</li>
          {% elseif firstsegment == "search" %}
          	<li class="active">{{ solid.lang("header.search_results_for")}} {{solid.getUrlsegment(2)|url_decode}}</li>
          {% elseif firstsegment == "contact" %}
          <li class="active">{{ solid.lang("header.contact")}}</li>
          {% endif %}
        </ol>
      </div>
    </div>
  </div>

</header>