	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="shortcut icon" href="{{ solid.files_url}}/img/favicon.ico"/>
    
	<!-- font awesome -->
  	<link href="{{ solid.files_url}}/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
   	
   	<!-- extra font -->
   	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ solid.files_url}}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- custom theme -->
	{{ solid.css("theme.css") }}

	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ solid.files_url}}/bower_components/jquery/dist/jquery.js"></script>
	<script src="{{ solid.files_url}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- Theme js -->
	{{ solid.js("theme.js") }}	
	
	<!-- Lightbox -->
	<link href="{{ solid.files_url}}/bower_components/lightbox/css/lightbox.css" rel="stylesheet" />
	<script src="{{ solid.files_url}}/bower_components/lightbox/js/lightbox.min.js"></script>
	
	
	{% set firstsegment = solid.getUrlsegment(1) %}
	{% if firstsegment == "" %}
		{% set meta_title = solid.shop_name %}
		{% set meta_description = solid.shop_name %}
		{% set meta_keywords = solid.shop_name %}
	{% elseif firstsegment == "page" %}
		{% set p = page.get() %}
		{% set meta_title = solid.shop_name ~ ' -> ' ~ p.name %}
		{% set meta_description = p.content|strip_tags|trim %}
		{% set meta_keywords = "" %}
	{% elseif firstsegment == "category" %}
		{% set cat = category.get() %}
		{% set meta_title = solid.shop_name ~ ' -> ' ~ cat.name %}
		{% set meta_description = cat.name %}
		{% set meta_keywords = cat.name %}
	{% elseif firstsegment == "cart" %}
		{% set cart = cart.get() %}
		{% set meta_title = solid.shop_name ~ ' ->  cart' %}
		{% set meta_description = "Cart for " ~ solid.shop_name %}
		{% set meta_keywords = ""%}    
	{% elseif firstsegment == "search" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ solid.lang("header.search_results_for") ~ " " ~ solid.getUrlsegment(2)|url_decode %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
	{% elseif firstsegment == "contact" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ solid.lang("header.contact") %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
	{% elseif firstsegment == "product" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ solid.getGlobal("product_name") %}
        {% set meta_description = solid.getGlobal("product_description") %}
        {% set meta_keywords = "" %}
	{% endif %}
	
	<title>{{ meta_title }}</title>
	<meta name="description" content="{{ meta_description|strip_tags }}" />
	<meta name="keywords" content="{{ meta_keywords|strip_tags }}" />